body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #17223C;
}

h1 {
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
  color: #34000d;
}

.remark-slide-content .big-one{
  font-size: 60px;
  font-weight: 900;
  line-height: 1.5;
}

.remark-slide-content .small-media {
  font-size: 55px;
  line-height: 1.5;
  font-weight: 900;
  display: flex;
  align-items: center;
}

.remark-slide-content .small-media > img {
  padding-left: 0.2em;
  height: 2em;
}

a {
  text-decoration: none;
  color: #34000d; 
}

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
  font-size: 34px;
  line-height: 1.2em;
}

.yellow {
  border-bottom: 5px solid #fff200;
  display: inline;
}

.yellow-background {
  background-color: #fff200;
  display: inline;
}

.orange {
  color: #de5116;
}

.purple {
  background-color: #caa9fa;
  display: inline;
}

.citation {
  border-bottom: 5px solid #fff200;
  vertical-align: bottom;
  display: inline;

}

.align-centre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-centre > img {
    padding-left: 0.2em;
}

.quote {
  line-height: 1.1;
}

img {
    //height: 1em;
}